<div class="row">

  <div class="col-md-2"></div>
  <div class="col-md-8">
    <br>
    <h2 class="text-center">Sign in, please!</h2>
    <%= image_tag("book.jpg", :alt => "book", style: "width:100%") %>
  </div>
  <div class="col-md-2"></div>
</div>
