<div class="col-md-2">
  <h2>New Book</h2>
</div>
<div class="col-md-8">
  <%= render 'form', book: @book %>
</div>
<div class="col-md-2"></div>
  <%= link_to 'Back', books_path, class:"btn btn-default" %>
